/* head, html and body */
html, body {
  height: 100%;
  margin: 0;
  background: #91754d;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
}

canvas[resize] {
  width: 100%;
  height: calc(100% - 80px);
  position: static;
  z-index: -1;
}

.vinfo {
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
  margin: 5px;
  display: none;
}

.btn-filled{
  cursor: pointer;
  color: #eee;
  background-color: #b97941;
  border-color: none;
}

.btn {
  outline: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.mn{
	background: none;
	font-size: 1.5rem;
	color:  white;
}

.nav {
  width: 850px;
  margin: auto;
  overflow: scroll;
  padding: 0;
  margin-top: -140px;
}

.mobilelocations{
	background: none;
	border-color: white;
	border-radius: 10px 10px 0px 0px;
  font-size: 1.2rem;
  text-align: center;
  color:  white;
}

.mobilenav {
	display: none;
	width: 100%; 
	align-items: center; 
	justify-content: space-between;
}

select {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.8rem 0.5rem;
  border: 1px solid #333;
  font-family: inherit;
  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.card-container {
  display: flex;
  height: 50px;
}

.emptyshow-above860{
  font-weight: 400;
  width: 140px;
  height: 50px;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  text-decoration: none;
  opacity: 0.7;
}

.emptyshow-below860{
  font-weight: 400;
  width: 140px;
  height: 50px;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  text-decoration: none;
  opacity: 0.7;
  display:  none;
}

.show{
  font-weight: 400;
  width: 140px;
  height: 50px;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  text-decoration: none;
  opacity: 0.7;
}

.show.active{
  opacity: 1;
  position: relative;
  z-index: 100;
}

.button-name{
  color:  #000;
  margin: auto 0px auto 10px;
}

.round-button {
  background: #000; 
  color: white; 
  min-width: 30px; 
  min-height: 30px;
  height:  30px; 
  margin-top: 10px;
  border-radius: 50%;
}

.round-button p {
  text-align: center;
  margin-top:  5px;
}


@media only screen and (max-width : 860px) {
    .nav {
        width: 530px;
        margin-top: -190px;
    }


    canvas[resize] {
      width: 100%;
      height: calc(100% - 180px);
    }

    .emptyshow-above860{
      display: none;
    }


    .emptyshow-below860{
      display: block;
    }
}

@media only screen and (max-width : 512px) {
    .nav {
        width: 340px;
        margin-top: 20px;
        display: none;
    }

    .mobilenav {
    	display: flex;
    }


    canvas[resize] {
      width: 100%;
      height: calc(100% - 50px);
    }

    .emptyshow-above860{
      display: none;
    }


    .emptyshow-below860{
      display: none;
    }
}